  <div class="one-faker clearfix" >
    <img class="faker-headshot"
         style="background: <%= @faker.color %>"
         src="<%= @faker.avatar %>"
         />
    <h2><%= @faker.title %></h2>
    <h4><%= @faker.email %></h4>
    <h4>Favorite Color: <%= @faker.color %></h4>
    <h4>Favorite Food: <%= @faker.food %></h4>
    <button><a href="/fakers/">Return to list</a></button>
  </div>
