<h3>Fakers</h3>

<% @fakers.each do |faker| %>
  <p><%= faker.name %></p>

  <p><%= faker.avatar %></p>
  <p><%= faker.color %></p>
  <p><%= faker.title %></p>
  <p><%= faker.email %></p>
  <p><%= faker.food %></p>
<% end %>
